.env
**/.env
**/.env.*

node_modules/
react-app/node_modules/
react-app/dist/

__pycache__/
**/__pycache__/
*.pyc

Logs/
error.log

.DS_Store
Thumbs.db

*.log
*.tmp
*.spec
build/
dist/
demo_release/
*.zip
web_app/react_dist/
*.pyc
__pycache__/